development:
  dialect: postgres
  database: verithdb
  user: postgres
  password: password
  host: 127.0.0.1
  port: 5432
  pool: 5

test:
  dialect: postgres
  database: verithdb_test
  user: postgres
  password: password
  host: 127.0.0.1
  port: 5432
  pool: 5

production:
  dialect: postgres
  database: verithdb_production
  user: postgres
  password: password
  host: 127.0.0.1
  port: 5432
  pool: 5
