app:
  name: "AccountableHolo"
  environment: "development"
  version: "1.0.0"

database:
  host: "localhost"
  port: 5432
  user: "user"
  password: "password"
  name: "accountableholodb"
  sslmode: "disable"
  timezone: YourTimezoneHere

storage:
  attachment_path: "attachments"
